<h1>Office DJ</h1>

<form action="index.html" method="post">
  <label for="song"></label>
  <input type="text" name="song" value="">
  <button type="submit" name="button">Add Song</button>
</form>

<a href="/main">main</a>
