<div class="login">
  <div class="col-sm-4 col-sm-offset-8">

    <h1>Team DJ!</h1>

    <form action="account" method="post">
      <div class="form-group labels">
        <label for="name">Username:</label>
        <input type="text" name="name">
      </div>
      <div class="form-group labels">
        <label for="password">Password:</label>
        <input type="password" name="password">
      </div>
      <button class="btn btn-success" type="submit" name="button">Join the Party</button>
    </form>

    <a href="/">Sign Up</a>
  </div>
</div>
