<div class="login">
  <div class="col-sm-4 col-sm-offset-8">

    <h1>Team DJ!</h1>

    <form action="account" method="post">
      <label for="name">Username:</label>
      <input type="text" name="name">
      <label for="password">Password:</label>
      <input type="password" name="password">
      <button type="submit" name="button">Join the Party</button>
    </form>

    <a class="login" href="/">Sign Up</a>
  </div>
</div>
