.navbar {
  color: #cccccc;
}

.logo img {
  width: 2em;
  padding-bottom: 1px;
}

.login {
  height: 99vh;
  width: 100vw;
  background-image: url(/img/login.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
  color: hotpink;
  font-family: myneon;
  font-size: 2em;
}

.login a {
  color: hotpink;
}

.login h1 {
  font-size: 3em;
}

@font-face {
  font-family: myneon;
  src: url(/fonts/neon.ttf);
}
